<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Speed Run</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>

<div id="app" v-cloak>
    <div class="config" v-if="!showResult">
        <br>
        <span :class="!nick? 'red': ''">nick</span>: <input type="text" v-model="nick"> <br><br>
        <v-date-picker v-model="startDateTime" mode="dateTime" timezone="utc"></v-date-picker>
        <br><br>

        url: <a v-if="nick" :href="href">{{href}}</a>
        <span class="red" v-else>nick is required</span>
    </div>
    <div v-else class="result center-screen">
        <div v-if="loading">loading...</div>
        <div v-else>
            +{{ games.win }} -{{ games.count - games.win - games.draw }} ={{ games.draw }} <br>
            {{ games.timeString }}
        </div>
    </div>
</div>

<script src="./libs/pgn.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
<script src='https://unpkg.com/v-calendar'></script>
<script src="./app.js"></script>
</body>
</html>