.result {
    font-size: 42px
}

[v-cloak] {
    display: none;
}

.red {
    color: red;
}

#app .config {
    margin: 10px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}