.result .text {
    font-size: 10vw;
}

.result {
    font-family: "Pacifico", serif;
}

[v-cloak] {
    display: none;
}

.red {
    color: red;
}

#app .config {
    margin: 10px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/*
.graph{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#chart svg {
    height: 1080px;
}

.tick line {
    opacity: 0;
}

.nvd3 g.nv-groups path.nv-line {
    stroke-width: 10px;
}*/
